/*
	http://bennettfeely.com/clippy 
*/

.firstSl {
	position: absolute;
	-webkit-clip-path: inset(0 50% 0 0);
	clip-path: inset(0 50% 0 0);
}

.cloneSl {
	position: absolute;
	-webkit-clip-path: inset(0 0 0 50%);
	clip-path: inset(0 0 0 50%);
}